# ============================================================
# TP-Link Archer C50 v6 - Minimal Profile
# ============================================================

# Target
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_archer-c50-v6=y

# Base system
CONFIG_PACKAGE_fstools=y
CONFIG_PACKAGE_block-mount=y

# ZRAM
CONFIG_PACKAGE_zram-swap=y
CONFIG_PACKAGE_kmod-zram=y